# DECLARE and SET a variable

Using variables makes it easy to run a query multiple times, with different values, without having to scroll down and amend the `WHERE` clause each time. You can quickly update the variable at the top of the query instead. This also helps provide greater security, but that is out of scope of this course.

Let's go back to the now very familiar `grid` table for this exercise, and use it to practice extracting data according to your newly defined variable.

##### Instructions 1/3

<span class="css-4zhg5y-baseStyle-strongStyle-baseStyle-Badge" style="box-sizing: inherit; font-weight: 800; -webkit-font-smoothing: antialiased; font-family: Studio-Feixen-Sans, Arial; border-radius: 4px; display: inline-block; text-transform: uppercase; background-color: rgb(252, 206, 13); color: rgb(5, 25, 45); font-size: 14px; line-height: 18px; padding-left: 4px; padding-right: 4px;">35 XP</span>

- `DECLARE` the variable `@region`, which has a data type of `VARCHAR` and length of `10`.

In [1]:
-- Declare the variable @region, and specify the data type of the variable
DECLARE @region VARCHAR(10)

In [2]:
-- SET your newly defined variable to 'RFC'.
-- Declare the variable @region
DECLARE @region VARCHAR(10)

-- Update the variable value
SET @region = 'RFC'

In [3]:
-- Declare the variable @region
DECLARE @region VARCHAR(10)

-- Update the variable value
SET @region = 'RFC'

SELECT description,
       nerc_region,
       demand_loss_mw,
       affected_customers
FROM grid
WHERE nerc_region = @region;

: Msg 208, Level 16, State 1, Line 7
Invalid object name 'grid'.

In [4]:
-- Declare @start
DECLARE @start DATE

-- SET @start to '2014-01-24'
SET @start = '2014-01-24'

In [5]:
-- Declare @start
DECLARE @start DATE

-- Declare @stop
DECLARE @stop DATE

-- SET @start to '2014-01-24'
SET @start = '2014-01-24'

-- SET @stop to '2014-07-02'
SET @stop = '2014-07-02'

In [6]:
-- Declare @start
DECLARE @start DATE

-- Declare @stop
DECLARE @stop DATE

-- Declare @affected
DECLARE @affected INT

-- SET @start to '2014-01-24'
SET @start = '2014-01-24'

-- SET @stop to '2014-07-02'
SET @stop  = '2014-07-02'

-- Set @affected to 5000
SET @affected = 5000

In [7]:
-- Declare your variables
DECLARE @start DATE
DECLARE @stop DATE
DECLARE @affected INT;
-- SET the relevant values for each variable
SET @start = '2014-01-24'
SET @stop  = '2014-07-02'
SET @affected =  5000 ;

SELECT 
  description,
  nerc_region,
  demand_loss_mw,
  affected_customers
FROM 
  grid
-- Specify the date range of the event_date and the value for @affected
WHERE event_date BETWEEN @start AND @stop
AND affected_customers >= @affected;

: Msg 208, Level 16, State 1, Line 10
Invalid object name 'grid'.

In [8]:
SELECT  album.title AS album_title,
  artist.name as artist,
  MAX(track.milliseconds / (1000 * 60) % 60 ) AS max_track_length_mins
-- Name the temp table #maxtracks
INTO #maxtracks
FROM album
-- Join album to artist using artist_id
INNER JOIN artist ON album.artist_id = artist.artist_id
-- Join track to album using album_id
INNER JOIN track ON album.album_id = track.album_id
GROUP BY artist.artist_id, album.title, artist.name,album.album_id
-- Run the final SELECT query to retrieve the results from the temporary table
SELECT album_title, artist, max_track_length_mins
FROM  #maxtracks
ORDER BY max_track_length_mins DESC, artist;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'album'.